<div>
  <h1>
    <%= params['heading'] %>
  </h1>
  <p>
    <img src="<%= params['pic_url'] %>" alt="user picture">
  </p>
  <h3>Name:
    <%= params['name'] %>
  </h3>
  <h3>Favorite color:
    <%= params['fav_color'] %>
  </h3>
  <h3>Favorite food:
    <%= params['fav_food'] %>
  </h3>
  <h3>Favorite song:
    <%= params['fav_song'] %>
  </h3>
  <h3>More about
    <%= params['name'] %>:
      <%= params['aboutme'] %>
  </h3>
</div>

<div class="email">
  <p>Interested in connecting with
    <%= params['name'] %>? Enter your name and e-mail below to express your interest!</p>
  <form action="//formspree.io/watkin36@yahoo.com" value="method="POST">
    Your name:
    <input type="text" name="name">
    <br> Your e-mail:
    <input type="email" name="_replyto">
    <br>
    <input onclick="myFunction()" type="submit" value="Send">
  </form>
</div>
